h2 All Alfred benchmarks
#benchmarks
script(type='text/javascript', src='/javascripts/benchmarks.js')
script(id='benchmark_template', type='text/x-jquery-tmpl')
  | <a id="\${name}"></a>
  | <h3>\${position}. \${name}</h3>
  | {{each results}}
  |   <hr />
  |   <h4>\${$value.name}</h4>
  |   <table>
  |     <thead>
  |      <tr>
  |        <th>Date</th>
  |        <th>rss_before</th>
  |        <th>ellapsed</th>
  |        <th>rss_after</th>
  |        <th>rss_diff</th>
  |        <th>throughput</th>
  |      </tr>
  |     </thead>
  |     <tbody>
  |       {{each $value.results_by_date}}
  |         <tr>
  |           <td>\${$value.date}</td>
  |           {{each $value.results}}
  |             {{if $index >= 5 && $index % 5 == 0}}
  |               </tr><tr><td></td>
  |             {{/if}}
  |             <td>\${$value.measure}</td>
  |           {{/each}}
  |         </tr>
  |       {{/each}}
  |     </tbody>
  |   </table>
  |   <div class="graph_wrapper">
  |     <h5>rss_before</h5>
  |     <div id="\${($item.data.name + '_' + $value.name).replace(/( |\\.)/g, '_')}_rss_before" style="width: 320px; height: 150px"></div>
  |   </div>
  |   <div class="graph_wrapper">
  |     <h5>ellapsed</h5>
  |     <div id="\${($item.data.name + '_' + $value.name).replace(/( |\\.)/g, '_')}_ellapsed" style="width: 320px; height: 150px"></div>
  |   </div>
  |   <div class="graph_wrapper">
  |     <h5>rss_after</h5>
  |     <div id="\${($item.data.name + '_' + $value.name).replace(/( |\\.)/g, '_')}_rss_after" style="width: 320px; height: 150px"></div>
  |   </div>
  |   <div class="graph_wrapper">
  |     <h5>rss_diff</h5>
  |     <div id="\${($item.data.name + '_' + $value.name).replace(/( |\\.)/g, '_')}_rss_diff" style="width: 320px; height: 150px"></div>
  |   </div>
  |   <div class="graph_wrapper">
  |     <h5>throughput</h5>
  |     <div id="\${($item.data.name + '_' + $value.name).replace(/( |\\.)/g, '_')}_throughput" style="width: 320px; height: 150px"></div>
  |   </div>
  | {{/each}}
  | <div style="clear:both"></div>